.listContainer {
  margin: 5px 0px;
  display: flex;
  align-items: flex-end;
  gap: 7px;
}

.textContainer {
  background-color: var(--deepPurple);
  padding: 10px 23px 10px 17px;
  width: fit-content;
  max-width: 255px;
  border-radius: 3px 20px 20px 3px;
}

.text {
  color: white;
  line-height: 1.4rem;
}

.videoContainer {
  border-radius: 3px 20px 20px 3px;
  max-width: 300px;
  height: auto;
}

.minute {
  color: var(--gray);
  font-size: 0.8rem;
  margin-bottom: 2px;
}

/* iphone 8 */
@media (max-width: 375px) {
  .textContainer {
    max-width: 65vw;
    padding: 8px 21px 8px 15px;
  }

  .text {
    font-size: 0.9rem;
  }

  .minute {
    font-size: 0.75rem;
  }

  .videoContainer {
    max-width: 65vw;
  }
}

/* iphone SE */
@media (max-width: 320px) {
  .textContainer {
    max-width: 60vw;
    padding: 6px 19px 6px 13px;
  }

  .text {
    font-size: 0.8rem;
  }

  .minute {
    font-size: 0.7rem;
  }
}
