.groupContainer {
  display: flex;
  margin: 10px 0px;
  padding-left: 13px;
}

.profileImg > img {
  border-radius: 50%;
  max-width: 40px;
  max-height: 40px;
}

.bubbleContainer {
  padding-left: 10px;
}

.bubbleContainer img {
  width: 65vw;
  max-width: 300px;
  object-fit: contain;
  border-radius: 3px 20px 20px 3px;
}

.bubbleContainer li:last-child > *:not(span) {
  border-radius: 3px 20px 20px 20px;
}

.profileName {
  font-size: 0.9rem;
  font-weight: 700;
}

/* iphone 8 */
@media (max-width: 375px) {
  .profileImg > img {
    width: 35px;
    height: 35px;
  }

  .profileName {
    font-size: 0.85rem;
  }

  .bubbleContainer {
    padding-left: 8px;
  }
}

/* iphone SE */
@media (max-width: 320px) {
  .profileImg > img {
    width: 30px;
    height: 30px;
  }

  .profileName {
    font-size: 0.75rem;
  }

  .bubbleContainer {
    padding-left: 6px;
  }
}
