.searchBarContainer label {
  display: block;
  float: right;
  text-indent: -9999em;
}

.searchBarContainer > label {
  height: 40px;
  line-height: 40px;
}

.searchBarContainer .searchInput {
  background-color: transparent;
  text-indent: 40px;
  height: 40px;
  line-height: 20px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.searchInput {
  width: 40px;
  outline: none;
  border: none;
  background-image: url("../../public/icon/searchIcon.svg");
  background-position: 9px 8px;
  background-repeat: no-repeat;
  padding: 3px 22px 3px 0px;
  font-size: 1rem;
}

.searchInput:focus {
  width: 300px;
  cursor: text;
  border: 2px solid var(--deepPurple);
  border-radius: 10px;
}

@media (max-width: 755px) {
  .searchInput {
    width: 50%;
    cursor: text;
    border-radius: 0px;
    border-bottom: 2px solid var(--gray);
  }

  .searchInput:focus {
    width: 50%;
    cursor: text;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid var(--deepPurple);
  }
}

@media (max-width: 413px) {
  .searchInput {
    width: 100%;
  }
  .searchInput:focus {
    width: 100%;
  }
}
